*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgba(0, 0, 0, 0.062);
}
.header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    /* justify-content:space-evenly; */
    height: 60px;
    padding: 20px;
    background-color: white;
  }
  .header .search-box{
    padding-left: 30rem;
  }
nav{
    width: 30%;
    /* float: left; */
    background: rgb(75, 75, 75);
    position : absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    /* transition: 0.5s ease-out; */
    /* border-radius: 7px; */
    /* margin-top: 3px; */

}
/* nav:hover{
    width: 290px;
} */
/* .sidenav{
    height:91vh;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
} */
.newFormcontainer{
    padding: 1rem;
    position: absolute;
    top: 6rem;
    right: 5%;
    width: 60%;
    display: none;
    /* height: 50vh; */
    border: 1px solid #ccc;
    
}
.allBiz{
    position: absolute;
    top: 6rem;
    right: 5%;
    width: 60%;
    display: none;
}
.viewBiz{
    position: absolute;
    display: none;
    /* margin-bottom:1rem; */
    font-size:clamp(1.5rem, 2.5vw, 1.6rem);
}
.bizPlan{
    font-size:clamp(1.5rem, 2.5vw, 1.6rem);
    margin-bottom: 1rem;
}
.newBiz>input, select, textarea{
    display: block;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom:1rem;
    width: 100%;
    border-radius: 5px;
}
.actionBtn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 5%;
}
.actionBtn >button{
    padding:1rem;
    border-radius: 5px;
    border:none;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.1);
}
.suBmit{
    background-color: rgba(0, 75, 152, 255);
    color: white;

}
.tableContainer{
    /* padding: 1rem; */
    position: absolute;
    top: 6rem;
    right: 5%;
    width: 50%;
    display: none;
    text-align:left;
    border: 1px solid #ccc;
}
th, tr, td{
    width:70%;
    padding:10px;

}
.cardTableBtn>button{
 margin-top: 1rem;
 padding: 1rem;
 border-radius: 5px;
 border-color: transparent;
}
.eDit{
    color: black;
}
.eDit:hover{
    background-color:white;
}
.dElete{
    color: black;
}
.dElete:hover{
    background-color: white;
}
.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 20px;
    gap: 10px;
}

.account img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
} 
.header-icons i h4{
    padding: 4px;

}
.sidenav .icon_items button{
    cursor: pointer; 
    margin: 4px;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0;
    background: none;
    border: none;
    
}
.sidenav .icon_items button:hover{
    background: #585858;
    border-radius: 10px;
    transition: 0.3s ease-out;

}
.sidenav .icon_items button i{
    font-size: 1.2rem;
    color:#969696;
    padding-right: 10px;
}
.sidenav .icon_items button{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.logout{
    position: absolute;
    bottom: 50px;
}
.logo{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0.5rem;
    overflow: hidden;
}
  .logo img{
    width: 40px;
    height: 40px;
}
.logo span{
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 15px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: white;
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}
.account img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
} 
.header-icons i h4{
    padding: 4px;
}
.search_box{
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
.sec{
    padding-left: 40px;
}
  main .content{
    display: none;
    padding: 5rem;
    margin-top: 2%;
    gap: 5px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
.content .cards{
    width: 250px;
    height: 300px;
    background:#f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.content i{
   display: grid;
   place-items: center;
   padding-top: 8rem;
   font-size: 20px;
}
.cards h4{
    padding-left: 1rem;
    padding-top: 1rem; 
}
.cards h5{
    padding-left: 1rem;
    padding-top: 1rem;
}




